.first-part{
    color: white;
    background-image:url(../images/leaves.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    padding: 10%;
   
}
